{% extends '@App/layout.twig' %}

{% block body %}
    <h1>Create a new offer</h1>
    {% include '@App/Block/flashMessage.twig' %}
    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}
    </div>

    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description) }}
    </div>

    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}
    </div>

    <div class="form-group">
        {{ form_label(form.image_url) }}
        {{ form_errors(form.image_url) }}
        {{ form_widget(form.image_url) }}
    </div>

    <div class="form-group">
        <button type="submit" id="contact_submit" name="contact[submit]" class="btn btn-primary">Create</button>
    </div>

    {{ form_end(form) }}
{% endblock %}